{% extends "base.html" %}
{% load cms_tags crispy_forms_tags i18n %}

{% block content %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const inputPassword = document.querySelector(`#id_password`);
            const togglePassword = document.querySelector(`#passwordVisButton`);
        
            togglePassword.addEventListener('click', function (_event) {
                const type = inputPassword.getAttribute('type') === 'password' ? 'text' : 'password';
                inputPassword.setAttribute('type', type);
                
                if (type === 'password') {
                  this.firstChild.classList.remove('fa-eye-slash');
                  this.firstChild.classList.add('fa-eye');
                } else {
                  this.firstChild.classList.remove('fa-eye');
                  this.firstChild.classList.add('fa-eye-slash');
                }
            });
        });
    </script>

    <div class="row mt-5 pt-5 justify-content-center align-items-center mx-auto my-auto">
        {% crispy form %}
    </div>
    <div class="row pt-3 offset-lg-3">
        <div class="col-12 col-lg-4">
            <a href="{% url 'password_reset' %}">{% translate "Password reset" %}</a>  {# django.contrib.auth.urls #}
        </div>
        <div class="col-12 offset-lg-2 col-lg-4">
            <a href="{% page_url 'mbr_signup' %}">{% translate "Member Sign-Up" %}</a>
        </div>
    </div>

{% endblock %}
