{% load i18n kairos_tags %}{% autoescape off %}{% translate "Hello" %} {{ admin_name }},

<a href="{{ mbr_url }}">{% translate "A new member just registered on our website!" %}</a>

{% translate "Get to the contact data by clicking on the above link. Here you can also activate the new account." %}

{% translate "Alternatively, if you already received the admission fee payment, then only click the link below:" %}

<a href="{{ act_url }}">{% translate "Activate account of new member: " %}{{ member.first_name }}</a>

{% translate "Greetings from" %} {% translate "KairosBrandName" %}
{% endautoescape %}