{% load i18n kairos_tags %}

{% with can_add=perms.mbr_announcements.add_memberannouncement %}
{% with can_chg=perms.mbr_announcements.change_memberannouncement %}
{% with can_del=perms.mbr_announcements.delete_memberannouncement %}
<div class="container">
    <div class="row">
        <div class="col-1 col-lg-9"></div>
        <div class="col-11 col-lg-3">
            {% include "./mbr_announcements/memberannouncement_filters.html" %}
            {# {% include "./mbr_announcements/memberannouncement_collapse_expand_buttons.html" with position="top" %}#}
        </div>
    </div>
{% cycle 'bg-success' 'bg-primary' 'bg-warning' as act_col silent %}
{% for exc in object_list %}
{% with cat_name=exc.ma_announce_category.ac_name ma_act=exc.ma_action ma_desc=exc.ma_description %}
    {% ifchanged cat_name %}
        {% if not forloop.first %}
        </div>                                                                      {# #excCat{{ cat_name|slugify }} #}
        {% endif %}
        {% resetcycle act_col %}
        <div class="row mt-3 py-lg-3 align-items-start">
            <div class="col-12 col-lg-6">
                <button class="btn btn-lg btn-info btn-block" type="button" data-toggle="collapse"
                        data-target=".multi-collapse{{ cat_name|slugify }}"
                        title="{% translate "Category" %} `{{ cat_name }}` {% translate "Expand/collapse" %}"
                        aria-expanded="false"
                        aria-controls="excCat{{ cat_name|slugify }} excImg{{ cat_name|slugify }}">
                    {{ cat_name }}
                </button>
            </div>
            <div class="col-12 col-lg-6 pt-1 pt-lg-5 collapse multi-collapse{{ cat_name|slugify }} all-collapse
                        {% if request.GET.q or url_kwargs.cat == cat_name|slugify %} show{% endif %}"
                 id="excImg{{ cat_name|slugify }}">
                <img src="{{ exc.ma_announce_category.ac_image.url }}" class="img-fluid rounded shadow"
                     alt="{{ cat_name }} announcement category">
            </div>
        </div>
        <div class="container mb-3 collapse multi-collapse{{ cat_name|slugify }} all-collapse
                    {% if request.GET.q or url_kwargs.cat == cat_name|slugify %} show{% endif %}"
             id="excCat{{ cat_name|slugify }}">
    {% endifchanged %}                                                            {# cat_name #}
    {% ifchanged cat_name ma_act %}
        {% cycle act_col %}
        <div class="row py-3">
            <div class="col-1">
                {% if request.GET.l != '1' %}
                    <span class="{% flag_icon exc.ma_language %}" style="font-size: 1.5rem;"></span>
                {% endif %}
            </div>
            <div class="col-3 p-1 text-white {{ act_col }}">
                {{ ma_act }}
            </div>
            <div class="col-3">
                {% if not user.is_staff and can_add and cat_name|add:EXC_CAT_ACT_SEP|add:ma_act not in user_cat_acts %}
                    <form>
                        {% csrf_token %}
                        <input class="btn btn-outline-info btn-sm" type="submit" value="{% translate "Add" %}"
                               formaction="{% url 'announcement-add' cat_name ma_act %}" formmethod="post"
                               title="{% blocktranslate %}add {{ ma_act }} in {{ cat_name }}{% endblocktranslate %}">
                    </form>
                {% endif %}
            </div>
            <div class="col-0 col-lg-5">
            </div>
        </div>
    {% endifchanged %}                                                        {# cat_name ma_act #}
    {% if url_kwargs.id == exc.pk %}<a id="{{ EXC_ANCHOR_ID_PREFIX }}{{ exc.pk }}"></a>{% endif %}
    <div class="row">
        <div class="col-0 col-lg-2"></div>
        {% if user.is_authenticated %}
            <div class="col-12 col-lg-3 text-lg-right" style="overflow: hidden">
                <a href="tel:{{ exc.ma_user.last_name }}"><strong title="{{ exc.ma_user.last_name }}"
                >{% full_name exc.ma_user %}</strong></a>
            </div>
        {% endif %}
        <div class="col-12 col-lg-{% if user.is_authenticated %}7{% else %}10{% endif %} pb-3">
            {% if user.is_staff or can_chg and user.id == exc.ma_user.id %}
                <form method="post">
                    {% csrf_token %}
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <textarea name="ma_description" class="form-control text-area-auto-height"
                              title="{% blocktranslate %}text of {{ ma_act }} in {{ cat_name }}{% endblocktranslate %}"
                              placeholder="{% blocktranslate %}({{ ma_act }} in {{ cat_name }}){% endblocktranslate %}"
                              style="min-width: 100%"
                    >{% if EXC_ADD_MARKER not in ma_desc or user.is_staff %}{{ ma_desc }}{% endif %}</textarea>
                    <input id="notify_members_{{ exc.pk }}" type="checkbox" name="notify_members_{{ exc.pk }}" checked>
                    <label
                       for="notify_members_{{ exc.pk }}" class="col-form-label">{% translate "Notify members" %}</label>
                    {% if can_del %}
                        <input class="btn btn-outline-info btn-sm" type="submit" value="{% translate "Delete" %}"
                               formaction="{% url 'announcement-delete' cat_name|slugify exc.id %}"
                               title="{% blocktranslate %}delete {{ ma_act }} in {{ cat_name }}{% endblocktranslate %}">
                    {% endif %}
                    <input class="btn btn-outline-info btn-sm" type="submit" value="{% translate "Save" %}"
                           formaction="{% url 'announcement-update' cat_name|slugify exc.id %}"
                           title="{% blocktranslate %}save {{ ma_act }} in {{ cat_name }}{% endblocktranslate %}">
                </form>
            {% else %}
                <div class="border-bottom"
                     style="white-space: pre-wrap;">{{ ma_desc|linebreaksbr }}</div>
            {% endif %}
        </div>
    </div>
{% endwith %}{% empty %}
    <div class="row">
        <div class="col text-center">
            <pre>xvx xvx xvx      {% translate "Empty" %}      xvx xvx xvx</pre>
        </div>
    </div>
{% endfor %}
    {% if object_list %}
    </div>                                                                      {# #excCat{{ cat_name|slugify }} #}
    {% endif %}
    <div class="row mt-5">
        <div class="col-1 col-lg-9"></div>
        <div class="col-11 col-lg-3">
            {% include "./mbr_announcements/memberannouncement_collapse_expand_buttons.html" with position="bottom" %}
        </div>
    </div>
</div>                                                                          {# content container #}
{% endwith %}{% endwith %}{% endwith %}
