{% extends "base.html" %}
{% load i18n kairos_tags %}

{% block content %}
    <div class="row"><h2>{% translate "Members" %}</h2></div>
    {% if user.is_authenticated %}
        <div class="row shadow ae-glow">
            <div class="col-2 col-lg-1 text-right overflow-hidden">
                <a href="?orderBy=member_int">{% translate "Member Id" %}</a></div>
            <div class="col-4 col-lg-2"><a href="?orderBy=first_name">{% translate "First name" %}</a></div>
            <div class="col-6 col-lg-2">{% translate "Member name" %}</div>
            <div class="col-3 d-lg-none d-xl-none"></div>  {# d-lg-none d-xl-none because col-lg-0 results in col-3 #}
            <div class="col-9 col-lg-2">{% translate "Phone" %}</div>
            <div class="col-3 d-lg-none d-xl-none"></div>
            <div class="col-9 col-lg-2">{% translate "Email" %}</div>
            {% if perms.auth.add_user %}   {# user.is_staff #}
                <div class="col-3 d-lg-none d-xl-none"></div>
                <div class="col-9 col-lg-3"><a href="?orderBy=last_login">{% translate "last login" %}</a></div>
            {% endif %}
        </div>
        {% for member in object_list %}
            <a id="{{ member.username }}"></a>
            {% if perms.auth.add_user and not member.is_active %}   {# user.is_staff #}
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-info btn-sm mt-3" name="activate" value="{{ member.pk }}">
                            {% translate "Activate account of new member: " %}
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="row shadow ae-glow">
                <div class="col-2 col-lg-1 text-right">{{ member.username }}</div>
                <div class="col-4 col-lg-2"><b>{{ member.first_name }}</b></div>
                <div class="col-6 col-lg-2">{% full_name member %}</div>
                <div class="col-3 col-lg-0 d-lg-none d-xl-none"></div>
                <div class="col-9 col-lg-2">{{ member.last_name }}</div>
                <div class="col-3 col-lg-0 d-lg-none d-xl-none"></div>
                <div class="col-9 col-lg-2">{{ member.email }}</div>
                {% if perms.auth.add_user and member.is_active and member.last_login %}   {# user.is_staff #}
                    <div class="col-3 col-lg-0 d-lg-none d-xl-none"></div>
                    <div class="col-9 col-lg-3">{{ member.last_login }}</div>
                {% endif %}
            </div>
            {% if member.username.0 == "-" %}
                <div class="row mb-3">&nbsp;</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{% url 'login' %}">
            {% translate "authenticate with your member id (without leading zeroes)" %}</a>
    {% endif %}
{% endblock %}
