<!--suppress SpellCheckingInspection -->
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous">
<!--suppress SpellCheckingInspection -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
     integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css">

<!--suppress CssUnusedSymbol -->
<style>
    {# uncomment next line to debug the layout and elements sizing: #}
    {# *{border: 1px solid red} #}

    {# top-fixed dyn_navbar anchor positioning, see: https://www.youtube.com/watch?v=WrzA6CfmOcY  + base_scripts.html #}
    :root {
        --dynNavbarHeight: 1.5rem;
    }
    html {
        scroll-padding-top: var(--dynNavbarHeight);
        padding-top: calc(var(--dynNavbarHeight) + 1.2rem);
        scroll-behavior: smooth;
    }
    @media (prefers-reduced-motion) {
        body, html {
            scroll-behavior: initial;
        }
    }
    /* ensure correct viewport size on mobile, to prevent scrollbars for small/full size pages;
       see https://dev.to/fenok/stretching-body-to-full-viewport-height-the-missing-way-2ghd */
    html {
        min-height: 99.999%;
        display: flex;
        flex-direction: column;
    }
    body {
        flex-grow: 0.999;
    }

    {# beating heart animation #}
    .beating_heart {
        display: inline-flex;
        position: relative;
        top: -0.99rem;
        z-index: 9999;
        {#filter: drop-shadow(0.15rem 0.18rem 0.3rem #6a3e0f);#}
        animation: heartbeat 1.5s infinite;
    }
    .beating_heart:after,
    .beating_heart:before {
        position: absolute;
        content: '';
        left: 0.78rem;
        width: 0.81rem;
        height: 1.29rem;
        background: #f63c0c;
        border-radius: 0.9rem 0.9rem 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 99.9%;
    }
    .beating_heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 99.9% 99.9%;
    }
    @keyframes heartbeat {
        from {
            transform: scale(0.999);
            transform-origin: center center;
            animation-timing-function: ease-out;
        }
        10% {
            transform: scale(1.11);
            animation-timing-function: ease-in;
        }
        15% {
            transform: scale(0.999);
            animation-timing-function: ease-out;
        }
        25% {
            transform: scale(1.05);
            animation-timing-function: ease-in;
        }
        35% {
            transform: scale(0.999);
            animation-timing-function: ease-out;
        }
    }

    {# colored glowing shadows for buttons #}
    .ae-glow {
        filter: drop-shadow(0.06rem 0.03rem 0.15rem #ca9e6f);
    }
    .ae-glow-gold {
        filter: drop-shadow(0.06rem 0.03rem 0.45rem #ffdf02);
    }

    {# hide caret/arrow from bootstrap 4 dropdown (::before for dropleft/top and ::after for dropright/down #}
    .dropdown-toggle::before {
        display:none !important;
    }
    .dropdown-toggle::after {
        display:none !important;
    }

    {# remove asterisk from django-crispy-forms labels #}
    .asteriskField {
        display: none;
    }
</style>
