<!--suppress SpellCheckingInspection -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

<!-- auto-height of a textarea to the content
     adapted from https://stackoverflow.com/questions/454202, 58008393 and 71206689 -->
<!--suppress JSUnresolvedVariable --><!-- suppress 2 this.style warnings -->
<script>
    document.addEventListener("DOMContentLoaded", function(_event) {
      _prepare_resize_text_area();
    });

    function _min_height(element) {
        return Math.max(69, element.scrollHeight + 15);
    }
    function TextAreaOnInput(_event) {
        this.style.height = 'auto';
        this.style.height = _min_height(this) + "px";
    }
    function _prepare_resize_text_area() {
        const text_areas = document.getElementsByClassName('text-area-auto-height');

        for (let idx = 0; idx < text_areas.length; idx++) {
            // adding overflow-y:hidden; to style attribute value disables scrolling within textarea with mouse wheel
            text_areas[idx].setAttribute("style", "height:" + _min_height(text_areas[idx]) + "px; overflow-y:hidden;");
            text_areas[idx].addEventListener("input", TextAreaOnInput, false);
        }
    }
</script>

{# dynamic fixed navbar anchor positioning fix: https://www.youtube.com/watch?v=WrzA6CfmOcY  + base_stylesheets.html #}
<script>
    function setDynNavbarHeight() {
        // noinspection CssInvalidHtmlTagReference
        const dyn_navbar = document.querySelector('.dyn_navbar');
        const root = document.querySelector(':root');
        root.style.setProperty('--dynNavbarHeight', `${dyn_navbar.clientHeight}px`)
    }
    window.addEventListener('resize', setDynNavbarHeight);
    window.addEventListener('DOMContentLoaded', setDynNavbarHeight);
</script>
