{% load cms_tags i18n menu_tags kairos_tags %}

{# examples: https://getbootstrap.com/docs/4.6/components/navbar/, https://getbootstrap.com/docs/4.6/components/navs/,#}
{# ... https://www.softwaretestinghelp.com/bootstrap/bootstrap-4-navbar/ and https://www.codeply.com/p/ylDhhZtpiH #}
<nav class="navbar navbar-expand-lg fixed-top flex-column navbar-dark bg-dark dyn_navbar"  {# dyn_navbar->not overlap #}
     style="height: auto; max-height: 100vh; overflow: auto;">
    <div class="text-center flex-row d-inline-flex w-100">
        <div class="order-1 dropright justify-content-start align-self-center" id="langMenu">
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" title="{% translate "CurrLanguage" %}"
               href="{% page_language_url LANGUAGE_CODE %}" style="font-size: calc(min(3.9vw, 1.8rem));">
                <span class="{% flag_icon LANGUAGE_CODE %} border border-secondary rounded ae-glow"></span>
            </a>
            <div class="dropdown-menu bg-dark border-info border m-0 p-0" style="min-width: 100%">
              {% for flt in LANGUAGES %}{% with clc=LANGUAGE_CODE fls=flt.0|slice:':2' %}{% if clc != fls %}
                <a class="nav-link dropdown-item py-0 py-lg-1" href="{% page_language_url fls %}" title="{{ flt.1 }}"
                   style="font-size: calc(min(3.9vw, 1.8rem));">
                    <span class="{% flag_icon fls %} p-0 m-0 border border-secondary rounded ae-glow"></span>
                </a>
              {% endif %}{% endwith %}{% endfor %}
            </div>
        </div>
      {% if request.session.page_has_hideable_mbr_languages %}
        <div class="order-2 collapse navbar-collapse navMultiCollapse justify-content-start align-self-center"
             id="mbrLangs">
          {% for flt in LANGUAGES %}{% with clc=LANGUAGE_CODE fls=flt.0|slice:':2' %}{% if clc != fls %}
            <a class="nav-link btn btn-floating btn-lg text-white p-0 m-0
                      {% if fls not in request.session.hidden_mbr_languages %}shadow ae-glow-gold{% endif %}"
               href="{% if fls in request.session.hidden_mbr_languages %}{% url 'member-lang-show' fls %}
                     {% else %}{% url 'member-lang-hide' fls %}{% endif %}"
               title="{% if fls in request.session.hidden_mbr_languages %}{% translate "Show Member Language Content" %}
                      {% else %}{% translate "Hide Member Language Content" %}{% endif %}"
               style="font-size: {% if fls in request.session.hidden_mbr_languages %}0.87{% else %}1.09{% endif %}rem">
                <span class="fa-stack">
                    <i class="{% flag_icon fls %}"></i>
                    <i class="fa fa-2xs fa-stack-1x fa-user-group"></i>
                </span>
            </a>
          {% endif %}{% endwith %}{% endfor %}
        </div>
      {% endif %}
        <div class="order-3 mx-auto w-100 justify-content-center">
            <a class="navbar-brand" href="/" title="{% translate "Home" %}">
                <h1 style="font-size: calc(min(3.9vw, 2.1rem));">{% translate "KairosBrandName" %}</h1></a>
            <button type="button" class="navbar-toggler ae-glow"  {# ae-glow needed in button AND span #}
                    title="{% translate "Menu" %}" data-toggle="collapse" data-target=".navMultiCollapse"
                    aria-controls="cmsMenu langMenu mbrLangs userMenu" aria-expanded="false"
                    aria-label="toggle navigation">
                <span class="navbar-toggler-icon ae-glow" style="font-size: calc(min(3vw, 0.69rem));"></span>
            </button>
        </div>
        <div class="order-4 collapse navbar-collapse navMultiCollapse justify-content-end align-self-center"
             id="userMenu">
          {% if user.is_authenticated %}
            <a class="nav-link btn btn-floating btn-lg text-white" style="font-size: 0.9rem"
               href="{% url 'password_change' %}" title="{% translate "Password change" %}">
                <span class="fa-stack">
                    <i class="fa fa-stack-2x fa-undo ae-glow"></i>
                    <i class="fa fa-stack-1x fa-unlock-alt ae-glow"></i>  {# fa-unlock | fa-unlock-alt | fa-key #}
                </span>
            </a>
            <a class="nav-link btn btn-floating btn-lg text-white" style="font-size: 1.8rem"
               href="{% url 'logout' %}" title="{% translate "Log out" %} {{ user.username }}">
                <span class="fa fa-sign-out ae-glow"></span>
            </a>
          {% else %}
            <a class="nav-item nav-link btn btn-floating btn-lg text-white" style="font-size: 1.8rem"
               href="{% url 'login' %}" title="{% translate "Log in" %}">
                <span class="fa fa-user ae-glow"></span>
            </a>
          {% endif %}
        </div>
    </div>
    <div class="text-center d-none d-sm-none d-md-none d-lg-flex">
        <b class="text-white">{% translate "Time exchange * Goods exchange * Rental exchange" %}</b>
    </div>
    <div class="collapse navbar-collapse navMultiCollapse" id="cmsMenu">
        <ul class="navbar-nav">
            {% show_menu 0 1 100 100 "menu.html" %}
        </ul>
    </div>
</nav>
