{% load i18n %}

{% if object_list %}
    <div class="row d-flex">
        <button class="btn btn-outline-info btn-sm" id="expand-all-button_{{ position }}"
                title="{% translate "Expand all" %} ({% translate "Announcements" %} {% translate "Categories" %})">
            <span class="fa fa-expand-arrows-alt"></span>
            <script>
                let expand_all_button_{{ position }} = document.getElementById("expand-all-button_{{ position }}");
                expand_all_button_{{ position }}.addEventListener("click", expand_all_click_{{ position }});
                function expand_all_click_{{ position }}() {
                    $('.all-collapse').collapse('show');
                }
            </script>
        </button>
        <button class="btn btn-outline-info btn-sm flex-grow-1" data-toggle="collapse" data-target=".all-collapse"
                title="{% translate 'Toggle structure' %} ({% translate "Announcements" %} {% translate "Categories" %})">
            {% translate "Expand/collapse" %}
        </button>
        <button class="btn btn-outline-info btn-sm" id="collapse-all-button_{{ position }}"
                title="{% translate "Collapse all" %} ({% translate "Announcements" %} {% translate "Categories" %})">
            <span class="fa fa-compress-arrows-alt"></span>
            <script>
                let collapse_all_button_{{ position }} = document.getElementById("collapse-all-button_{{ position }}");
                collapse_all_button_{{ position }}.addEventListener("click", collapse_all_click_{{ position }});
                function collapse_all_click_{{ position }}() {
                    // let collapsible_elements = document.getElementsByClassName("all-collapse");
                    // for (let idx = 0; idx < collapsible_elements.length; idx++) {
                    //    collapsible_elements[idx].collapse('hide');     // .style.display = 'none'
                    // .. the above code throws the error: collapse is not a method
                    $('.all-collapse').collapse('hide');
                }
            </script>
        </button>
    </div>
{% endif %}
